.form_container{
    width: 30%;
}

.form_container.minimized-height {
    max-height: 600px; /* Adjust the value as needed */
    overflow-y: auto;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #007bff; /* Adjust the color as needed */
}

.form_container.minimized-height {
    max-height: 600px; /* Adjust the value as needed */
    overflow-y: auto;
    width: 100%;
    max-width: 400px; /* Adjust the value as needed */
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 1000px){
    .form_container{
        width: 45%;
    }
    
}

@media screen and (max-width: 700px){
    .form_container{
        width: 65%;
    }
    
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #007bff; /* Adjust the color as needed */
}

.form_container.minimized-height1 {
    max-height: 600px; /* Adjust the value as needed */
    overflow-y: auto;
    width: 100%;
    max-width: 400px; /* Adjust the value as needed */
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-lg {
    padding: 5px 10px;
    font-size: 1.25rem;
    width: 100%; /* Makes the button take the full width of its container */
}